.circle-image image {
	border-radius: 50%;
	background-color: shade(@base_color, 0.88);
	border: 1px solid @border_color;
	padding: 8px;
	color: alpha (@text_color, 0.5);
}

.power-selection {
	padding: 4px;
	border: 1px solid transparent;
}

.power-selection:hover,
.power-selection:active {
	border: 1px solid @border_color;
	background-color: alpha (@text_color, 0.15);
}
